[submodule "themes/cactus"]
	path = themes/hugo-theme-mini
	url = https://github.com/mauri870/hugo-theme-mini
[submodule "themes/hugo-theme-mini"]
	path = themes/hugo-theme-mini
	url = https://github.com/mauri870/hugo-theme-mini
